/LaptopMethod/nbproject/private/
/LaptopMethod/build/
LaptopFactory/nbproject/private/private\.xml

LaptopFactory/nbproject/private/private\.properties
/LaptopPrototype/nbproject/private/
/LaptopPrototype/build/
/QueDeleite/nbproject/private/
/QueDeleite/build/
/LaptopBuilder/nbproject/private/
/LaptopBuilder/build/